.infoBarInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6b3074;
  border-radius: 4px 4px 0 0;
  height: 6vh;
  width: 100%;
}

.appName {
  color: #F0E8F1;
  font-family: Andale Mono, monospace;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
}

.infobarIcon {
  transform: translate(0%, 22%);
}

.closeButton {
  float: right;
  margin: 20px;
  color: #F0E8F1;
  font-size: 1.3em;
  text-decoration: none;
}

.closeButton:hover {
  text-decoration: none;
  color: #E4852D;
}